@sider-prefix: ~"@{prefix}-sider";

.@{sider-prefix}-container {
  display: block;
  width: 100%;
  border-right: 1px solid var(--ieditor-color-level-4);
  box-sizing: border-box;

  .@{sider-prefix}-file-tree {
    .MuiTreeView-root  {
      height: 100%;
    }
  }
}