@import './css/vars.less';
@import './css/colors.less';
@import './css/global.less';
@import './components/ui/css/index.less';
@import './components/split-layout/css/index.less';
@import './components/flex-rows/css/index.less';
@import './components/flex-colums/css/index.less';
@import './modules/edit/css/index.less';
@import './modules/preview/css/index.less';
@import './modules/header/css/index.less';
@import './modules/footer/css/index.less';
@import './modules/sider/css/index.less';
@import './modules/sidebar/css/index.less';

@wrapper-prefix: ~"@{prefix}-wrapper";

.@{wrapper-prefix} {
  display: block;
  box-shadow: 2px 2px 13px var(--ieditor-color-level-5);
  background-color: var(--ieditor-bg-color);

  .@{wrapper-prefix}-header {
    box-shadow: 2px 2px 10px var(--ieditor-color-level-4);
  }

  .@{wrapper-prefix}-footer {
    box-shadow: -2px -2px 10px var(--ieditor-color-level-4);
  }
}
